* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #003165;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #7e7e7e3d;
    padding: 50px;
    border-radius: 10px;
    align-items: center;
}

label {
    color: #444;
    font-size: 0.7rem;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    text-align: center;
    width: 200px;
    transition: width 0.3s ease; /* Transição de largura */
}

input[type="text"]:focus {
    width: 300px; /* Largura quando o input recebe foco */
    outline-color: #007bff;
}

button[type="submit"] {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
